@import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');


body{
    background-color: #222;
    color: #fff;
    /* font-family: sans-serif; */
    font-family: 'Alkatra', cursive;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contents{
    height: 80px;
    width:100%;
    max-width: 600px;
    border-radius: 30px;
    background-color: #f1f7f8;
    color: #222;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 2em;
    gap: 2rem;
    text-align: center;
}